*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.nav-link{
    padding-bottom: 3px;
}

.nav-link:hover{
    border-bottom: 2px solid rgb(41, 41, 255);
}

#cart_content{
    min-height: 300px;
}

@media (max-width:992px){
    .cart_container{
        width: 100% !important;
    }
}